#searchList_section header{
    background: #C6423D;
}
#searchList_section header input{
    margin: 3.5vw 0 3.5vw 15vw;
    width: 65vw;
    height: 8vw;
    border: none;
    outline:none;
    border-radius: 4vw;
}
#searchList_section header b{
    display: inline-block;
    width: 5vw;
    height: 5vw;
    background: #999;
    line-height: 5vw;
    text-align: center;
    border-radius: 2.5vw;
    position: absolute;
    left: 73vw;
    top:50%;
    margin-top: -2.5vw;
}
#searchList_section header span{
    display: inline-block;
    width: 15vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
    border-radius: 4vw;
    background: #F1F3F5;
    color: #666;
}
#searchList_article h5{
    margin: 4vw 0 4vw 4vw;
    font-size: 3.5vw;
}
#searchList_article ul{
    margin: 0 auto;
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
}
#searchList_article li{
    width: 16.5vw;
    height: 10vw;
    text-align: center;
}
#searchList_article a{
    display: inline-block;
    background: #F5F5F5;
    padding: 2vw 2.5vw;
    border-radius: 4vw;
    margin: 0 auto;
}